{{page-title "TestApp"}}

<div>
  <p>
    numberOne:
    {{this.numberOne}}
  </p>
  <div>
    <button
      type="button"
      {{on "click" (fn this.increment "numberOne")}}
    >Increment numberOne</button>
  </div>

  <p>
    numberTwo:
    {{this.numberTwo}}
  </p>
  <div>
    <button
      type="button"
      {{on "click" (fn this.increment "numberTwo")}}
    >Increment numberTwo</button>
  </div>

  <div>
    <button type="button" {{on "click" this.toggle}}>toggle show</button>
  </div>
  <div>
    <button type="button" {{on "click" this.toggle2}}>toggle show2</button>
  </div>
</div>

<div id="inelementtarget">
</div>

<AComponent />
<TestComponent />

<ContextProvider @key="testContext" @value={{this.numberOne}}>
  <ContextConsumer @key="testContext" as |val|>
    <p>Consumer component, context value: {{val}}</p>
  </ContextConsumer>
</ContextProvider>

<CustomProvider @value={{this.numberTwo}}>
  <p>CustomProvider</p>
  <ContextConsumer @key="testContext" as |val|>
    <p>Consumer component, context value: {{val}}</p>
  </ContextConsumer>
</CustomProvider>

<div>
  <ContextProvider @key="NumberContext" @value={{this.numberOne}}>
    <BComponent />

    <div
      style="padding: 2px 12px; border: 1px solid purple;"
      {{! template-lint-disable no-inline-styles}}
    >
      <p>numberOne provider, value should be: {{this.numberOne}}</p>
      <BComponent />

      <ContextConsumer @key={{this.NumberContext}} as |val|>
        <p>Consumer component. Context value: {{val}}</p>

        <ContextProvider @key="NumberContext" @value={{this.numberTwo}}>
          <div
            style="padding: 2px 12px; border: 1px solid purple;"
            {{! template-lint-disable no-inline-styles}}
          >
            <p>numberTwo provider, value should be: {{this.numberTwo}}</p>
            <BComponent />

            <ContextProvider @key="NumberContext" @value={{9}}>
              <BComponent />
              <ContextConsumer @key="NumberContext" as |val|>
                <p>Consumer component, context value: {{val}}</p>
              </ContextConsumer>
            </ContextProvider>

            {{#if this.show2}}
              <BComponent />
              <ContextConsumer @key="NumberContext" as |val|>
                <p>Consumer component, context value: {{val}}</p>
              </ContextConsumer>
            {{/if}}
          </div>
        </ContextProvider>
        <ContextConsumer @key="NumberContext" as |val|>
          <p>Consumer component, context value: {{val}}</p>
        </ContextConsumer>

      </ContextConsumer>
    </div>
  </ContextProvider>
</div>

{{outlet}}