{{page-title "TestApp"}}

<div>
  <p>
    numberOne:
    {{this.numberOne}}
  </p>
  <div>
    <button
      type="button"
      {{on "click" (fn this.increment "numberOne")}}
    >Increment numberOne</button>
  </div>

  <p>
    numberTwo:
    {{this.numberTwo}}
  </p>
  <div>
    <button
      type="button"
      {{on "click" (fn this.increment "numberTwo")}}
    >Increment numberTwo</button>
  </div>
</div>

<TestComponent />
<div>
  <this.NumberContext.Provider @value={{this.numberOne}}>
    <div
      style="padding: 2px 12px; border: 1px solid purple;"
      {{! template-lint-disable no-inline-styles}}
    >
      <p>numberOne provider, value should be: {{this.numberOne}}</p>

      <this.NumberContext.Consumer as |val|>
        <p>Consumer component. Context value: {{val}}</p>

        <this.NumberContext.Provider @value={{this.numberTwo}}>
          <div
            style="padding: 2px 12px; border: 1px solid purple;"
            {{! template-lint-disable no-inline-styles}}
          >
            <p>numberTwo provider, value should be: {{this.numberTwo}}</p>

            <this.NumberContext.Consumer as |val|>
              <p>Consumer component, context value: {{val}}</p>
            </this.NumberContext.Consumer>
          </div>
        </this.NumberContext.Provider>

      </this.NumberContext.Consumer>
    </div>
  </this.NumberContext.Provider>
</div>

{{outlet}}